<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OffersImageURL</key>
	<string>https://apis.tatx.com/uploads/offers</string>
	<key>CategoriesImagesURL</key>
	<string>https://apis.tatx.com/uploads/categories</string>
	<key>StoresImagesURL</key>
	<string>https://apis.tatx.com/uploads/stores</string>
	<key>URLSubFolder</key>
	<string>/api</string>
	<key>BaseURL</key>
	<string>https://apis.tatx.com</string>
</dict>
</plist>
